<div id="social">

    <a class="symbol" href="{{ .Site.Params.Social.github }}" rel="me" target="_blank">
        {{ $svg :=  print "svgs/github.svg" }}
        {{ partial $svg (dict "fill" "#bbbbbb" "width" 28 "height" 28 ) }}
    </a>

    <a class="symbol" href="{{ .Site.Params.Social.twitter }}" rel="me" target="_blank">
        {{ $svg :=  print "svgs/twitter.svg" }}
        {{ partial $svg (dict "fill" "#bbbbbb" "width" 28 "height" 28 ) }}
    </a>

    <a class="symbol" href="{{ .Site.Params.Social.linkedIn }}" rel="me" target="_blank">
        {{ $svg :=  print "svgs/linkedin.svg" }}
        {{ partial $svg (dict "fill" "#bbbbbb" "width" 28 "height" 28 ) }}
    </a>

    <a class="symbol" href="{{ .Site.Params.Social.resume }}" rel="me" target="_blank">
        {{ $svg :=  print "svgs/resume.svg" }}
        {{ partial $svg (dict "fill" "#bbbbbb" "width" 28 "height" 28 ) }}
    </a>

</div>
